.game-panel {
  min-height: 100vh;
  padding-top: 70px;
}

/* #score-panel {
  background-color: rgba(44, 178, 188, 0.8);
} */

#score-panel {
  background-color: var(--score-panel);
}


#dartboard-panel {
  background-color: rgb(214, 214, 214);
}
