<div class="row px-3">
  <div class="card-title col-12 mt-2 text-center">
    <h4>{{ player.playerId }}</h4>
  </div>
  <img
    class="img-responsive mb-3 mt-0 border border-dark"
    width="100"
    height="100"
    [src]="
      player.avatarUrl !== null
        ? player.avatarUrl
        : '../../../../assets/placeholder-photo.png'
    "
    [alt]="
      player.avatarUrl !== null
        ? 'Photo of ' + player.firstName + ' ' + player.lastName
        : 'Placeholder photo'
    "
  />
  <div class="col m-3 mt-0">
    <p>
      Firts name: <b>{{ player.firstName }}</b>
    </p>
    <p>
      Last name: <b>{{ player.lastName }}</b>
    </p>
  </div>
</div>
