<div class="row">
  <div class="col-12">
    <h6 class="text-center">Number of leg</h6>
  </div>
  <div class="col-12">
    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="legs.length"
        [(page)]="legPage"
        [pageSize]="legPageSize"
        [maxSize]="3"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      >
      </ngb-pagination>
    </div>
  </div>
  <div
    class="col"
    *ngFor="
      let leg of legs | slice: (legPage - 1) * legPageSize:legPage * legPageSize
    "
  >
    <div class="row px-4">
      <ul
        ngbNav
        #nav="ngbNav"
        [activeId]="1"
        class="nav-tabs col-12 px-4 justify-content-start"
      >
        <li [ngbNavItem]="1">
          <a ngbNavLink
            ><h4>{{ leg.player1Throws[0].playerId }}</h4></a
          >
          <ng-template ngbNavContent>
            <div
              class="col py-5"
              *ngFor="
                let round of leg.player1Throws
                  | slice
                    : (roundPage - 1) * roundPageSize
                    : roundPage * roundPageSize;
                let roundIndex = index
              "
            >
              <div class="row">
                <div class="col-6">
                  <div
                    class="score-counter row mb-4 px-4 py-3 border border-white"
                  >
                    <div class="col-12 text-center border-bottom border-white">
                      <h5>Points left</h5>
                    </div>
                    <div class="col-12 mt-2 text-center">
                      <h1 class="digit-text m-0">{{ 501 }}</h1>
                    </div>
                  </div>
                  <div
                    class="score-counter row mb-4 px-4 py-3 border border-white"
                  >
                    <div class="col-12 text-center border-bottom border-white">
                      <h5>Points this round</h5>
                    </div>
                    <div class="col-12 mt-2 text-center">
                      <h1 class="digit-text m-0">{{ round.score }}</h1>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row justify-content-center">
                    <div class="col-auto score-counter dart-point mx-2 p-0 border border-white">
                      {{ round.darts[0] }}
                    </div>
                    <div class="col-auto score-counter dart-point mx-2 p-0 border border-white">
                      {{ round.darts[1] }}
                    </div>
                    <div class="col-auto score-counter dart-point mx-2 p-0 border border-white">
                      {{ round.darts[2] }}
                    </div>
                  </div>
                  <div class="row justify-content-center mt-4">
                    <img src="../../../assets/dart-miss.png" class="dart-point mx-2 p-0 border border-white" alt="Photo of actual dart">
                    <div class="col-auto dart-point mx-2 p-0 border border-white">
                    </div>
                    <div class="col-auto dart-point mx-2 p-0 border border-white">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-5">
              <div class="row justify-content-center">
                <ngb-pagination
                  [collectionSize]="leg.player1Throws.length"
                  [(page)]="roundPage"
                  [pageSize]="roundPageSize"
                  [maxSize]="3"
                  [rotate]="true"
                  [ellipses]="false"
                  [boundaryLinks]="true"
                >
                </ngb-pagination>
              </div>
            </div>
            <div class="col-12 mb-4">
              <h6 class="text-center">Number of round</h6>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink
            ><h4>{{ leg.player2Throws[0].playerId }}</h4></a
          >
          <ng-template ngbNavContent>
            <div
              class="col py-5"
              *ngFor="
                let round of leg.player2Throws
                  | slice
                    : (roundPage - 1) * roundPageSize
                    : roundPage * roundPageSize;
                let roundIndex = index
              "
            >
              <div class="row">
                <div class="col-6">
                  <div
                    class="score-counter row mb-4 px-4 py-3 border border-white"
                  >
                    <div class="col-12 text-center border-bottom border-white">
                      <h5>Points left</h5>
                    </div>
                    <div class="col-12 mt-2 text-center">
                      <h1 class="digit-text m-0">{{ 501 }}</h1>
                    </div>
                  </div>
                  <div
                    class="score-counter row mb-4 px-4 py-3 border border-white"
                  >
                    <div class="col-12 text-center border-bottom border-white">
                      <h5>Points this round</h5>
                    </div>
                    <div class="col-12 mt-2 text-center">
                      <h1 class="digit-text m-0">{{ round.score }}</h1>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row justify-content-center">
                    <div class="col-auto score-counter dart-point mx-2 p-0 border border-white">
                      {{ round.darts[0] }}
                    </div>
                    <div class="col-auto score-counter dart-point mx-2 p-0 border border-white">
                      {{ round.darts[1] }}
                    </div>
                    <div class="col-auto score-counter dart-point mx-2 p-0 border border-white">
                      {{ round.darts[2] }}
                    </div>
                  </div>
                  <div class="row justify-content-center mt-4">
                    <img src="../../../assets/dart-miss.png" class="dart-point mx-2 p-0 border border-white" alt="Photo of actual dart">
                    <div class="col-auto dart-point mx-2 p-0 border border-white">
                    </div>
                    <div class="col-auto dart-point mx-2 p-0 border border-white">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-5">
              <div class="row justify-content-center">
                <ngb-pagination
                  [collectionSize]="leg.player2Throws.length"
                  [(page)]="roundPage"
                  [pageSize]="roundPageSize"
                  [maxSize]="3"
                  [rotate]="true"
                  [ellipses]="false"
                  [boundaryLinks]="true"
                >
                </ngb-pagination>
              </div>
            </div>
            <div class="col-12 mb-4">
              <h6 class="text-center">Number of round</h6>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
      <div class="score-panel-footer col-12 px-4 py-3">
        <button class="btn btn-info px-5 rounded-pill border-dark btn-shadow">Add throw</button>
      </div>
    </div>
  </div>
</div>
